body{
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
    padding: 0;
}
#sidenav{
    position: fixed;
    left: -200px;
    background: #2626262;
    height: 100%;
    width: 200px;
    transition: all 500ms linear;
}
#sidenav.active{
    left: 0;
}
#sidenav ul li{
    color: #262626;
    list-style: none;
    padding: 20px 30px;
    border-bottom: 1px solid #dddddd;
    font-family: poppins;
}
#sidenav .btn-area{
    position: absolute;
    left: 230px;
    top: 20px;
    font-size: 35px;
}
#sidenav .btn-area:hover{
    cursor: pointer;
}
.main-content{
    width: 900px;
    margin: 0 auto;
    padding: 7%;
}
.main-content h2{
    font-family: baloo;
    font-size: 45px;
}
.main-content p{
    font-family: poppins;
}
.main-content a{
    background: #262626;
    text-decoration: none;
    display: inline-block;
    padding: 15px 20px;
    text-transform: uppercase;
    margin-top: 30px;
    color: #ffffff;
}